/* Common */

@font-face {
  font-family: 'DungGeunMo';
  src: url('./src/fonts/DungGeunMo.woff2') format('woff2');
}

* {
  box-sizing: border-box;
  font-family: 'DungGeunMo';
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  min-width: 1000px;
  height: 100vh;
  min-height: 800px;
  padding: 20px;
  background: rgb(35, 5, 35) no-repeat url('./src/img/purpleCity.jpg');
  background-size: cover cover;
  background-position: center;
}

body {
  height: 100%;
  min-height: 700px;
  text-align: center;
}

h1,
h2,
h3 {
  margin-bottom: 20px;
  padding: 0;
  white-space: wrap;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
}

a {
  color: currentColor;
  text-decoration: none;
}

input {
  width: 80px;
}

.displayNone {
  display: none;
}

.App {
  height: 100%;
  display: flex;
  gap: 20px;
}

.a11yHidden,
legend {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Template */
.logo {
  font-size: 90px;
  color: white;
  text-shadow: 3px 3px 5px rgba(88, 23, 218, 0.7);
}

h2 {
  font-size: 50px;
  height: 70px;
  line-height: 70px;
  color: white;
  background-color: rgba(256, 256, 256, 0.3);
  text-shadow: 2px 2px 3px rgba(54, 54, 54, 0.7);
  border-radius: 10px;
}

.sidebar {
  width: 350px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 10px;
  /* background: rgb(256, 256, 256, 0.3); */
  /* backdrop-filter: blur(5px); */
  border-radius: 20px;
  /* border: 2px solid white; */
}

.sidebar__tabBtnList {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.sidebar__tabBtnList button {
  padding: 20px 10px;
  width: 100%;
  background-color: rgba(88, 23, 218, 0.4);
  border: 1px solid white;
  font-size: 28px;
  color: white;
  text-shadow: 2px 2px 5px #1a1d4a;
}

.sidebar__tabBtnList button:hover {
  background-color: rgba(88, 23, 218, 0.7);
  box-shadow: 2px 2px 5px #fcdeff, -2px 2px 5px #fcdeff, 2px -2px 5px #fcdeff, -2px -2px 5px #fcdeff;
}

.sidebar__infoBtnList {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.sidebar__infoBtnList li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: rgba(256, 256, 256, 0.3);
  border-radius: 50%;
}

.sidebar__infoBtnList li:hover {
  background-color: rgba(256, 256, 256, 0.4);
  box-shadow: 1px 1px 5px #fcdeff, -1px 1px 5px #fcdeff, 1px -1px 5px #fcdeff, -1px -1px 5px #fcdeff;
}

.sidebar__infoBtnList a {
  color: white;
  font-size: 30px;
}

.contentsWrapper {
  width: 300px;
  padding: 20px;
  position: relative;
  flex-grow: 1;
  /* background: rgba(88, 23, 218, 0.2); */
  background: rgba(256, 256, 256, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  border: 2px solid white;
  overflow-y: scroll;
}

.contentsWrapper::-webkit-scrollbar,
.contentsWrapper::-webkit-scrollbar-thumb {
  color: #41127c;
  width: 15px;
  background-color: rgba(83, 43, 184, 0.5);
  border-radius: 20px;
  -webkit-transition: all 500ms;
}
.contentsWrapper::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.9);
}

.memberList {
  display: flex;
  flex-flow: wrap;
  gap: 5%;
  padding: 0 10px 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.memberItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  padding: 20px;
  width: 30%;
  height: 200px;
  background-color: rgba(83, 43, 184, 0.3);
  border: 1px solid white;
  font-size: 25px;
  transition: all 200ms;
}

.memberItem:hover {
  background-color: rgba(83, 43, 184, 0.5);
}

/* NewGroup */

/* NewGroupForm */
.makeGroup {
  padding: 2rem;
  /* background-color: #291474; */
  color: #e0d9f6;
}
.makeGroup__form {
  padding: auto;
  height: 100%;
}
.makeGroup__title {
  font-size: 2rem;
}
.makeGroup__numberBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  padding: 2rem;
}
.makeGroup__number {
  font-size: 5rem;
}

.makeGroup__btn {
  width: 4rem;
  height: 4rem;
  border-radius: 5px;
  font-size: 4rem;
  /* transition: all 200ms; */
}
.makeGroup__btn:hover {
  cursor: pointer;
  color: #fef6fe;
  background-color: #41127c;
}
.makeGroup__btn--decrease {
  order: -1;
}
.makeGroup__btn--submit {
  width: 10rem;
  font-size: 1.5rem;
}

/* NewGroupResult */

.result__list--group {
  padding: 2rem 0;
  background-color: #291474;
}

.result__item--group {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-top: 3rem;
  color: #04f8fa;
}
.result__item__title {
  margin: 0;
  font-size: 1.5rem;
  padding: 0 1.5rem;
  width: 6rem;
  white-space: nowrap;
  color: #e0d9f6;
}
.result__list--member {
  display: flex;
  gap: 1rem;
  flex-flow: row wrap;
}
.result__item--member {
  background-color: #1a1d4a;
  border: 2px solid #e0d9f6;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  transition: all 150ms;
}
.result__item--member:hover {
  cursor: pointer;
  color: #fef6fe;
  background-color: #41127c;
}

.result__controls {
  background-color: #291474;
  padding: 2rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
}
.result__btn {
  width: 8rem;
  height: 4rem;
  border-radius: 5px;
  font-size: 2rem;
  transition: all 200ms;
}
.result__btn:hover {
  cursor: pointer;
  color: #fef6fe;
  background-color: #41127c;
}

/* Modal */

.modalWrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
}

.modal {
  padding: 20px;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 150px;
  background-color: violet;
  backdrop-filter: blur(4px);
}

.modalClose {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
}

.errorMsg {
  color: red;
  margin-top: 5px;
  margin-bottom: 10px;
}
