/* Common */

@font-face {
  font-family: 'DungGeunMo';
  src: url('./src/fonts/DungGeunMo.woff2') format('woff2');
}

* {
  box-sizing: border-box;
  font-family: 'DungGeunMo';
  margin: 0;
  padding: 0;
}

body {
  min-width: 800px;
  margin: 20px;
  text-align: center;
  background-color: rgb(112, 87, 137);
}

fieldset {
  border: none;
}

h1,
h2,
h3 {
  margin-bottom: 20px;
  padding: 0;
  white-space: nowrap;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
}

a {
  color: currentColor;
  text-decoration: none;
}

input {
  width: 80px;
}

.displayNone {
  display: none;
}

.App {
  display: flex;
  gap: 20px;
}

.a11yHidden,
legend {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Template */

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
  background-color: salmon;
}

.sidebar__tabBtnList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar__tabBtnList button {
  padding: 20px;
  width: 90%;
  background-color: skyblue;
}

.sidebar__infoBtnList {
  display: flex;
  justify-content: space-between;
}

.sidebar__infoBtnList a {
  padding: 5px;
  background-color: aquamarine;
}

.contentsWrapper {
  padding: 20px;
  position: relative;
  flex-grow: 1;
  background-color: pink;
}
.memberList {
  display: flex;
  flex-flow: wrap;
  gap: 20px;
}

.memberItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  width: 120px;
  height: 100px;
  background-color: lightgreen;
}

/* NewGroup */

/* NewGroupForm */
.makeGroup {
  padding: 2rem;
  background-color: #291474;
  color: #e0d9f6;
}
.makeGroup__form {
  height: 100%;
}
.makeGroup__title {
  font-size: 2rem;
}
.makeGroup__numberBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  padding: 2rem;
}
.makeGroup__number {
  font-size: 5rem;
}

.makeGroup__btn {
  width: 4rem;
  height: 4rem;
  border-radius: 5px;
  font-size: 4rem;
  transition: all 200ms;
}
.makeGroup__btn:hover {
  cursor: pointer;
  color: #fef6fe;
  background-color: #41127c;
}
.makeGroup__btn--decrease {
  order: -1;
}
.makeGroup__btn--submit {
  width: 10rem;
  font-size: 1.5rem;
}

/* NewGroupResult */

.result__list--group {
  padding: 2rem 0;
  background-color: #291474;
}

.result__item--group {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-top: 3rem;
  color: #04f8fa;
}
.result__item__title {
  margin: 0;
  font-size: 1.5rem;
  padding: 0 1.5rem;
  width: 6rem;
  white-space: nowrap;
  color: #e0d9f6;
}
.result__list--member {
  display: flex;
  gap: 1rem;
  flex-flow: row wrap;
}
.result__item--member {
  background-color: #1a1d4a;
  border: 2px solid #e0d9f6;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  transition: all 150ms;
}
.result__item--member:hover {
  cursor: pointer;
  color: #fef6fe;
  background-color: #41127c;
}

.result__controls {
  background-color: #291474;
  padding: 2rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
}
.result__btn {
  width: 8rem;
  height: 4rem;
  border-radius: 5px;
  font-size: 2rem;
  transition: all 200ms;
}
.result__btn:hover {
  cursor: pointer;
  color: #fef6fe;
  background-color: #41127c;
}

/* Modal */

.modalWrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
}

.modal {
  padding: 20px;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 150px;
  background-color: violet;
  backdrop-filter: blur(4px);
}

.modalClose {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
}

.errorMsg {
  color: red;
  margin-top: 5px;
  margin-bottom: 10px;
}
